@use "sass:math";

$pauseButtonVerticalHeight: calc(#{$buttonWidth} * 0.85);

.#{$carouselClassname}-button {
  @include button();

  &--arrow {
    &-previous,
    &-next {
      &-one,
      &-two {
        background-color: $itemViewerBackgroundColor;
      }
    }

    &-previous {
      &-one {
        @include positionButton($rotation: 45deg);
      }

      &-two {
        @include positionButton($rotation: -45deg);
      }
    }

    &-next {
      &-one {
        @include positionButton($rotation: 45deg);
      }

      &-two {
        @include positionButton($rotation: -45deg);
      }
    }
  }

  @include closeButton;

  &--next {
    &-left {
      @include triangle;
      @include positionButton($xTranslate: -66%);
    }

    &-right {
      @include positionButton();
    }
  }

  &--inverse {
    transform: translate3d(calc($buttonWidth * 0.2), 0, 0);
    margin-top: 0;
  }

  //height is set in StylingLogic.ts
  &--fullscreen {
    --size: 3px;
    --length: calc(50% - (var(--size) * 1.33));
    --edgeOffset: 2px;

    &-top {
      width: var(--length);

      &-left-horizontal {
        @include positionButton(
          $top: var(--edgeOffset),
          $left: var(--edgeOffset),
          $xTranslate: 0,
          $yTranslate: 0
        );
      }

      &-right-horizontal {
        @include positionButton(
          $top: var(--edgeOffset),
          $right: var(--edgeOffset),
          $left: auto,
          $xTranslate: 0,
          $yTranslate: 0
        );
      }

      &-left-vertical {
        @include positionButton(
          $top: var(--edgeOffset),
          $left: var(--edgeOffset),
          $xTranslate: 0,
          $yTranslate: 0
        );
        transform-origin: top left;
        transform: rotate(90deg) translate3d(0%, -100%, 0);
      }

      &-right-vertical {
        @include positionButton(
          $top: var(--edgeOffset),
          $right: var(--edgeOffset),
          $left: auto,
          $xTranslate: 0,
          $yTranslate: 0
        );
        transform-origin: top right;
        transform: rotate(90deg) translate3d(100%, 0%, 0);
      }
    }

    &-bottom {
      width: var(--length);

      &-left-horizontal {
        @include positionButton(
          $bottom: var(--edgeOffset),
          $left: var(--edgeOffset),
          $top: "auto",
          $xTranslate: 0,
          $yTranslate: 0
        );
      }

      &-right-horizontal {
        @include positionButton(
          $bottom: var(--edgeOffset),
          $right: var(--edgeOffset),
          $left: "auto",
          $top: "auto",
          $xTranslate: 0,
          $yTranslate: 0
        );
      }

      &-left-vertical {
        @include positionButton(
          $bottom: var(--edgeOffset),
          $left: var(--edgeOffset),
          $top: "auto",
          $xTranslate: 0,
          $yTranslate: 0
        );
        transform-origin: bottom left;
        transform: rotate(-90deg) translate3d(0%, 100%, 0);
      }

      &-right-vertical {
        @include positionButton(
          $bottom: var(--edgeOffset),
          $right: var(--edgeOffset),
          $left: "auto",
          $top: "auto",
          $xTranslate: 0,
          $yTranslate: 0
        );
        transform-origin: bottom right;
        transform: rotate(-90deg) translate3d(100%, 0%, 0);
      }
    }

    &:hover {
      -webkit-animation: fullscreen $animationSpeedFullscreenButton 1 ease
        normal none;
      -moz-animation: fullscreen $animationSpeedFullscreenButton 1 ease normal
        none;
      -ms-animation: fullscreen $animationSpeedFullscreenButton 1 ease normal
        none;
      -o-animation: fullscreen $animationSpeedFullscreenButton 1 ease normal
        none;
      animation: fullscreen $animationSpeedFullscreenButton 1 ease normal none;

      transition: all calc($animationSpeedFullscreenButton * 1.5) ease;
      -webkit-transition: all calc($animationSpeedFullscreenButton * 1.5) ease;
      -moz-transition: all calc($animationSpeedFullscreenButton * 1.5) ease;
      -o-transition: all calc($animationSpeedFullscreenButton * 1.5) ease;
    }
  }

  &--pause {
    &-left,
    &-right {
      @include positionButton;
    }

    &-left {
      @include positionButton(
        $xTranslate: calc(-50% - #{$buttonWidth * 0.25}),
        $yTranslate: -50%
      );
    }
  }

  &--play {
    &-triangle {
      @include positionButton($xTranslate: 33.3%, $left: 0);
      background-color: transparent;
      width: 0;
      height: 0;
    }
  }

  &--previous {
    &-left {
      @include positionButton();
    }

    &-right {
      @include triangle($direction: left);
      @include positionButton($xTranslate: -25%);
    }
  }

  &--restart {
    &-arrow {
      @include positionButton();
      right: 0;
      top: 0;
      transform: translate3d(0%, 15%, 0);
      background-color: transparent;
      width: 0;
      height: 0;
      border-top: calc(#{$buttonWidth} / 2.5) solid transparent;
      border-right: calc(#{$buttonWidth} / 2.5) solid $itemViewerButtonColor;
      border-bottom: none;
    }

    &-circle {
      &-inner,
      &-outer {
        border-radius: 50%;
        @include positionButton();
      }

      &-inner {
        height: calc($pauseButtonVerticalHeight - ($buttonWidth * 0.5));
        width: calc($pauseButtonVerticalHeight - ($buttonWidth * 0.5));
        background-color: $itemViewerToolbarBackgroundColor;
      }

      &-outer {
        height: $pauseButtonVerticalHeight;
        width: $pauseButtonVerticalHeight;
      }
    }

    &-triangle-cutout {
      @include positionButton();
      bottom: 0;
      right: 0;
      transform: translate3d(0, -50%, 0);
      background-color: transparent;
      width: 0;
      height: 0;
      border-top: calc(#{$buttonWidth} / 1) solid transparent;
      border-right: calc(#{$buttonWidth} / 1) solid
        $itemViewerToolbarBackgroundColor;
      border-bottom: calc(#{$buttonWidth} / 1) solid transparent;
    }
  }

  &--seek-back {
    &-left,
    &-right {
      @include triangle;
    }

    &-left {
      @include positionButton($xTranslate: -100%, $rotation: 180deg);
    }

    &-right {
      @include positionButton($xTranslate: 0%, $rotation: 180deg);
    }
  }

  &--seek-forward {
    &-left,
    &-right {
      @include triangle;
    }

    &-left {
      @include positionButton($xTranslate: -87.5%);
    }

    &-right {
      @include positionButton($xTranslate: 12.5%);
    }
  }

  &--stop {
    @include positionButton();
    height: $pauseButtonVerticalHeight;
    width: calc(#{$pauseButtonVerticalHeight} * 0.95);
  }

  &--video-state-indicator {
    @include displayFlexCenter();
    @include positionCenter();
    height: $buttonVideoStateIndicatorWidth;
    width: $buttonVideoStateIndicatorWidth;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: $zIndexVideoStateIndicator;
    transform-origin: center;

    & * {
      cursor: auto !important;
    }

    &-is-animating {
      //nameOfKeyFrameToStart = @keyframes name
      //durationInSeconds = the timeframe length, the total duration of the animation from start to the end.
      //delayInSeconds = the delay before our animation will start.
      //iterationCount = how many times it will iterate through animation (0 | 10 | infinite)
      //timingFunction = sets the animation speed ( linear | ease | ease-in | ease-out | ease-in-out | cubic-bezier ).
      //direction = gives you the ability to change the loop direction, from start to end ,or from end to start, or both (normal | reverse | alternate | alternate-reverse).
      //fillMode = specifies which styles in keyframe will be applied to the element when our animation is finished ( none | forwards | backwards | both )
      -webkit-animation: video-state-indicator
        $animationSpeedVideoStateIndicatorButton 1 linear alternate none;
      -moz-animation: video-state-indicator
        $animationSpeedVideoStateIndicatorButton 1 linear alternate none;
      -ms-animation: video-state-indicator
        $animationSpeedVideoStateIndicatorButton 1 linear alternate none;
      -o-animation: video-state-indicator
        $animationSpeedVideoStateIndicatorButton 1 linear alternate none;
      animation: video-state-indicator $animationSpeedVideoStateIndicatorButton
        1 linear alternate none;
    }
  }
}

.#{$carouselClassname}-button--scale-on-hover {
  @include scaleOnHover();
}

@keyframes video-state-indicator {
  0% {
    opacity: 0.5;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(2);
  }
}

@keyframes fullscreen {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.15;
  }

  100% {
    scale: 1;
  }
}
