@use "sass:math";
$animationSpeedVideoStateIndicatorButton: 0.5s;
$animationSpeedFullscreenButton: 0.5s;
$buttonVideoStateIndicatorWidth: 66px;
$buttonLineWidth: 6px;
$buttonWidth: 24px;
$carouselAnimationDuration: 0.25s;
$carouselClassname: "thumbnail-carousel";
$carouselDotOpacity: 0.5;
$carouselDotHoverOpacity: 0.8;
$carouselFontSize: 14px;
$carouselItemHoverTranslateUpAmount: 4px;
$carouselThumbnailFontSize: 12px;
$carouselThumbnailOverlayMaxLineCount: 2;

$itemViewerBackgroundColor: #1d0e0b;
$itemViewerButtonColor: #fff9f5;
$itemViewerShortcutPopupBackgroundColor: #28292f;
$itemViewerButtonOpacityHover: 1;
$itemViewerButtonOpacityNormal: 0.875;
$itemViewerModalParagraphPaddingRight: 20px;
$itemViewerToolbarBackgroundColor: rgba($itemViewerBackgroundColor, 0);
$itemViewerToolbarColumnGap: 0.75vw;
$itemViewerToolbarMarginHorizontal: 20px;
$itemViewerToolbarPreviewBorderRadius: 5px;
$itemViewerToolbarPreviewOpacity: 0.66;
$zIndexItemViewerImage: 1;
$zIndexToolbar: 1000000;
$zIndexShortcutPopup: 10000;
$zIndexProgressBar: 100;
$zIndexVideoStateIndicator: 1000;
$zShortcutPreviewImage: 1000000;

$classname__grabbing: "grabbing";

$modalMinimzedOpacity: "#{$carouselClassname}-modal-opacity-minimized";
$modalCustomButtonTopString: "#{$carouselClassname}-modal-custom-button-top";
$modalCustomButtonRightString: "#{$carouselClassname}-modal-custom-button-right";
$modalScrollbarBackgroundColor: "#{$carouselClassname}-modal-scrollbar-background-color";
$modalScrollbarForegroundColor: "#{$carouselClassname}-modal-scrollbar-foreground-color";
:root {
  --#{$modalCustomButtonTopString}: calc(
    #{$itemViewerToolbarMarginHorizontal} * 0.5
  );
  --#{$modalCustomButtonRightString}: calc(
    #{$itemViewerToolbarMarginHorizontal} * 0.5
  );
  --#{$modalScrollbarBackgroundColor}: #{$itemViewerBackgroundColor};
  --#{$modalScrollbarForegroundColor}: #{$itemViewerButtonColor};
  --#{$modalMinimzedOpacity}: #{$itemViewerButtonOpacityNormal};
}
