:root {
  --thumbnail-carousel-modal-custom-button-top: calc(
    20px * 0.5
  );
  --thumbnail-carousel-modal-custom-button-right: calc(
    20px * 0.5
  );
  --thumbnail-carousel-modal-scrollbar-background-color: #1d0e0b;
  --thumbnail-carousel-modal-scrollbar-foreground-color: #fff9f5;
  --thumbnail-carousel-modal-opacity-minimized: 0.875;
}

.thumbnail-carousel--hidden, .thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__item-viewer-toolbar, .thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__video-screenshot-viewer {
  pointer-events: none !important;
  opacity: 0 !important;
}

.thumbnail-carousel--visible {
  pointer-events: all !important;
  opacity: 1 !important;
}

.thumbnail-carousel__loading-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 0px;
  color: #fff9f5;
  text-align: center;
}
.thumbnail-carousel__loading-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.thumbnail-carousel__loading-roller-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 0px;
  padding: 20px;
}
.thumbnail-carousel__loading-roller div {
  animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: calc(80px / 2) calc(80px / 2);
}
.thumbnail-carousel__loading-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff9f5;
  margin: -4px 0 0 -4px;
}
.thumbnail-carousel__loading-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.thumbnail-carousel__loading-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}
.thumbnail-carousel__loading-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.thumbnail-carousel__loading-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}
.thumbnail-carousel__loading-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.thumbnail-carousel__loading-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}
.thumbnail-carousel__loading-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.thumbnail-carousel__loading-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}
.thumbnail-carousel__loading-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.thumbnail-carousel__loading-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}
.thumbnail-carousel__loading-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.thumbnail-carousel__loading-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}
.thumbnail-carousel__loading-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.thumbnail-carousel__loading-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}
.thumbnail-carousel__loading-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.thumbnail-carousel__loading-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}
@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.thumbnail-carousel__loading-ring {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  column-gap: 0px;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0;
}
.thumbnail-carousel__loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 72px;
  height: 72px;
  margin: 8px;
  border: 8px solid #fff9f5;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff9f5 transparent transparent transparent;
}
.thumbnail-carousel__loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.thumbnail-carousel__loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.thumbnail-carousel__loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.thumbnail-carousel__loading-circle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.thumbnail-carousel__loading-circle div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff9f5;
  border-radius: 50%;
  animation: circle 1.2s linear infinite;
}
.thumbnail-carousel__loading-circle div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.thumbnail-carousel__loading-circle div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.thumbnail-carousel__loading-circle div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.thumbnail-carousel__loading-circle div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.thumbnail-carousel__loading-circle div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.thumbnail-carousel__loading-circle div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.thumbnail-carousel__loading-circle div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.thumbnail-carousel__loading-circle div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.thumbnail-carousel__loading-circle div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.thumbnail-carousel__loading-circle div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.thumbnail-carousel__loading-circle div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.thumbnail-carousel__loading-circle div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes circle {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.thumbnail-carousel__loading-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.thumbnail-carousel__loading-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff9f5;
  animation: grid-animation 1.2s linear infinite;
}
.thumbnail-carousel__loading-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.thumbnail-carousel__loading-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.thumbnail-carousel__loading-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.thumbnail-carousel__loading-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.thumbnail-carousel__loading-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.thumbnail-carousel__loading-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.thumbnail-carousel__loading-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.thumbnail-carousel__loading-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.thumbnail-carousel__loading-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes grid-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.thumbnail-carousel-button {
  overflow: hidden;
  height: 24px;
  width: 24px;
  border: none;
  position: relative;
  background-color: transparent;
  display: flex;
  opacity: 0.875 !important;
}
.thumbnail-carousel-button:hover {
  opacity: 1 !important;
  cursor: pointer !important;
}
.thumbnail-carousel-button * {
  background-color: #fff9f5;
  fill: #fff9f5;
}
.thumbnail-carousel-button--arrow-previous-one, .thumbnail-carousel-button--arrow-previous-two, .thumbnail-carousel-button--arrow-next-one, .thumbnail-carousel-button--arrow-next-two {
  background-color: #1d0e0b;
}
.thumbnail-carousel-button--arrow-previous-one {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.thumbnail-carousel-button--arrow-previous-two {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.thumbnail-carousel-button--arrow-next-one {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.thumbnail-carousel-button--arrow-next-two {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.thumbnail-carousel-button--close-left, .thumbnail-carousel-button--close-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(var(--rotation));
}
.thumbnail-carousel-button--close-left-inverse, .thumbnail-carousel-button--close-right-inverse {
  background-color: #1d0e0b;
  margin-top: 0;
}
.thumbnail-carousel-button--close-left {
  --rotation: -45deg;
}
.thumbnail-carousel-button--close-right {
  --rotation: 45deg;
}
.thumbnail-carousel-button--next-left {
  border-left: calc(24px / 2.5) solid #fff9f5;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(24px / 2.25) solid transparent;
  border-bottom: calc(24px / 2.25) solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-66%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--next-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--inverse {
  transform: translate3d(4.8px, 0, 0);
  margin-top: 0;
}
.thumbnail-carousel-button--fullscreen {
  --size: 3px;
  --length: calc(50% - (var(--size) * 1.33));
  --edgeOffset: 2px;
}
.thumbnail-carousel-button--fullscreen-top {
  width: var(--length);
}
.thumbnail-carousel-button--fullscreen-top-left-horizontal {
  position: absolute;
  top: var(--edgeOffset);
  left: var(--edgeOffset);
  right: auto;
  bottom: auto;
  transform: translate3d(0, 0, 0) rotate(0);
}
.thumbnail-carousel-button--fullscreen-top-right-horizontal {
  position: absolute;
  top: var(--edgeOffset);
  left: auto;
  right: var(--edgeOffset);
  bottom: auto;
  transform: translate3d(0, 0, 0) rotate(0);
}
.thumbnail-carousel-button--fullscreen-top-left-vertical {
  position: absolute;
  top: var(--edgeOffset);
  left: var(--edgeOffset);
  right: auto;
  bottom: auto;
  transform: translate3d(0, 0, 0) rotate(0);
  transform-origin: top left;
  transform: rotate(90deg) translate3d(0%, -100%, 0);
}
.thumbnail-carousel-button--fullscreen-top-right-vertical {
  position: absolute;
  top: var(--edgeOffset);
  left: auto;
  right: var(--edgeOffset);
  bottom: auto;
  transform: translate3d(0, 0, 0) rotate(0);
  transform-origin: top right;
  transform: rotate(90deg) translate3d(100%, 0%, 0);
}
.thumbnail-carousel-button--fullscreen-bottom {
  width: var(--length);
}
.thumbnail-carousel-button--fullscreen-bottom-left-horizontal {
  position: absolute;
  top: "auto";
  left: var(--edgeOffset);
  right: auto;
  bottom: var(--edgeOffset);
  transform: translate3d(0, 0, 0) rotate(0);
}
.thumbnail-carousel-button--fullscreen-bottom-right-horizontal {
  position: absolute;
  top: "auto";
  left: "auto";
  right: var(--edgeOffset);
  bottom: var(--edgeOffset);
  transform: translate3d(0, 0, 0) rotate(0);
}
.thumbnail-carousel-button--fullscreen-bottom-left-vertical {
  position: absolute;
  top: "auto";
  left: var(--edgeOffset);
  right: auto;
  bottom: var(--edgeOffset);
  transform: translate3d(0, 0, 0) rotate(0);
  transform-origin: bottom left;
  transform: rotate(-90deg) translate3d(0%, 100%, 0);
}
.thumbnail-carousel-button--fullscreen-bottom-right-vertical {
  position: absolute;
  top: "auto";
  left: "auto";
  right: var(--edgeOffset);
  bottom: var(--edgeOffset);
  transform: translate3d(0, 0, 0) rotate(0);
  transform-origin: bottom right;
  transform: rotate(-90deg) translate3d(100%, 0%, 0);
}
.thumbnail-carousel-button--fullscreen:hover {
  -webkit-animation: fullscreen 0.5s 1 ease normal none;
  -moz-animation: fullscreen 0.5s 1 ease normal none;
  -ms-animation: fullscreen 0.5s 1 ease normal none;
  -o-animation: fullscreen 0.5s 1 ease normal none;
  animation: fullscreen 0.5s 1 ease normal none;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
}
.thumbnail-carousel-button--pause-left, .thumbnail-carousel-button--pause-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--pause-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(calc(-50% - 6px), -50%, 0) rotate(0);
}
.thumbnail-carousel-button--play-triangle {
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  bottom: auto;
  transform: translate3d(33.3%, -50%, 0) rotate(0);
  background-color: transparent;
  width: 0;
  height: 0;
}
.thumbnail-carousel-button--previous-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--previous-right {
  border-right: calc(24px / 2.5) solid #fff9f5;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(24px / 2.25) solid transparent;
  border-bottom: calc(24px / 2.25) solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-25%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--restart-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
  right: 0;
  top: 0;
  transform: translate3d(0%, 15%, 0);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(24px / 2.5) solid transparent;
  border-right: calc(24px / 2.5) solid #fff9f5;
  border-bottom: none;
}
.thumbnail-carousel-button--restart-circle-inner, .thumbnail-carousel-button--restart-circle-outer {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--restart-circle-inner {
  height: calc(24px * 0.85 - 12px);
  width: calc(24px * 0.85 - 12px);
  background-color: rgba(29, 14, 11, 0);
}
.thumbnail-carousel-button--restart-circle-outer {
  height: calc(24px * 0.85);
  width: calc(24px * 0.85);
}
.thumbnail-carousel-button--restart-triangle-cutout {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
  bottom: 0;
  right: 0;
  transform: translate3d(0, -50%, 0);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(24px / 1) solid transparent;
  border-right: calc(24px / 1) solid rgba(29, 14, 11, 0);
  border-bottom: calc(24px / 1) solid transparent;
}
.thumbnail-carousel-button--seek-back-left, .thumbnail-carousel-button--seek-back-right {
  border-left: calc(24px / 2.5) solid #fff9f5;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(24px / 2.25) solid transparent;
  border-bottom: calc(24px / 2.25) solid transparent;
}
.thumbnail-carousel-button--seek-back-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-100%, -50%, 0) rotate(180deg);
}
.thumbnail-carousel-button--seek-back-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(0%, -50%, 0) rotate(180deg);
}
.thumbnail-carousel-button--seek-forward-left, .thumbnail-carousel-button--seek-forward-right {
  border-left: calc(24px / 2.5) solid #fff9f5;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(24px / 2.25) solid transparent;
  border-bottom: calc(24px / 2.25) solid transparent;
}
.thumbnail-carousel-button--seek-forward-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-87.5%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--seek-forward-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(12.5%, -50%, 0) rotate(0);
}
.thumbnail-carousel-button--stop {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(0);
  height: calc(24px * 0.85);
  width: calc(calc(24px * 0.85) * 0.95);
}
.thumbnail-carousel-button--video-state-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  column-gap: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 66px;
  width: 66px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transform-origin: center;
}
.thumbnail-carousel-button--video-state-indicator * {
  cursor: auto !important;
}
.thumbnail-carousel-button--video-state-indicator-is-animating {
  -webkit-animation: video-state-indicator 0.5s 1 linear alternate none;
  -moz-animation: video-state-indicator 0.5s 1 linear alternate none;
  -ms-animation: video-state-indicator 0.5s 1 linear alternate none;
  -o-animation: video-state-indicator 0.5s 1 linear alternate none;
  animation: video-state-indicator 0.5s 1 linear alternate none;
}

.thumbnail-carousel-button--scale-on-hover:hover {
  transition: transform 0.25s ease;
  transform: scale(1.15);
}

@keyframes video-state-indicator {
  0% {
    opacity: 0.5;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(2);
  }
}
@keyframes fullscreen {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}
.thumbnail-carousel {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  width: 100%;
  overflow: hidden;
}
.thumbnail-carousel__container, .thumbnail-carousel__item-viewer {
  box-sizing: border-box !important;
}
.thumbnail-carousel__container *, .thumbnail-carousel__item-viewer * {
  box-sizing: border-box !important;
}
.thumbnail-carousel__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  column-gap: 0px;
}
.thumbnail-carousel__dots > div, .thumbnail-carousel__dots > svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  column-gap: 0px;
  --opacity: 0.5;
  height: 24px;
  width: 16px;
  background-color: transparent;
}
.thumbnail-carousel__dots > div > div, .thumbnail-carousel__dots > svg > div {
  background-color: rgba(29, 14, 11, var(--opacity));
  border-radius: 100%;
}
.thumbnail-carousel__dots > div use, .thumbnail-carousel__dots > svg use {
  fill: #1d0e0b;
  opacity: var(--opacity);
}
.thumbnail-carousel__dots > div:not(.thumbnail-carousel__dots-current):hover, .thumbnail-carousel__dots > svg:not(.thumbnail-carousel__dots-current):hover {
  cursor: pointer;
}
.thumbnail-carousel__dots > div:not(.thumbnail-carousel__dots-current):hover *, .thumbnail-carousel__dots > svg:not(.thumbnail-carousel__dots-current):hover * {
  --opacity: 0.8;
  opacity: 0.8 !important;
}
.thumbnail-carousel__item {
  margin: 0;
  position: relative;
  border-radius: 8px;
  opacity: 0.9;
  overflow: hidden;
}
.thumbnail-carousel__item-container {
  user-select: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media only screen and (hover: none) {
  .thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__item-viewer-toolbar, .thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__video-screenshot-viewer {
    pointer-events: all !important;
    opacity: 1 !important;
  }
}
.thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__item-viewer-shortcut-indicator {
  pointer-events: none !important;
}
.thumbnail-carousel__item-container img {
  z-index: 1;
  width: 100vw;
  max-height: 100vh;
}
.thumbnail-carousel__item-thumbnail {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
  transition: transform 0.25s linear;
}
.thumbnail-carousel__item > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s ease;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  z-index: 10000;
}
.thumbnail-carousel__item:hover {
  opacity: 1;
  cursor: pointer;
}
.thumbnail-carousel__item:hover > div {
  transform: translate3d(0, 0, 0);
}
.thumbnail-carousel__item:hover img {
  transform: scale(1.25);
}
.thumbnail-carousel__items {
  display: flex;
  width: 10000000vw;
  transition: transform 0.25s ease;
  backface-visibility: hidden;
}
.thumbnail-carousel__items.grabbing {
  cursor: grabbing !important;
}
.thumbnail-carousel__items.grabbing img {
  cursor: grabbing !important;
}
.thumbnail-carousel__item-viewer {
  display: none;
  background-color: #1d0e0b;
  transition: opacity 0.25s ease;
}
.thumbnail-carousel__item-viewer-button {
  overflow: hidden;
  height: 24px;
  width: 24px;
  border: none;
  position: relative;
  background-color: transparent;
  display: flex;
  opacity: 0.875 !important;
  fill: #fff9f5;
  stroke: #1d0e0b;
  stroke-opacity: 0.15;
  stroke-width: 2px;
  display: flex;
}
.thumbnail-carousel__item-viewer-button:hover {
  opacity: 1 !important;
  cursor: pointer !important;
}
.thumbnail-carousel__item-viewer-button * {
  background-color: #fff9f5;
  fill: #fff9f5;
}
.thumbnail-carousel__item-viewer-button-inverse {
  fill: #1d0e0b;
  stroke: #fff9f5;
}
.thumbnail-carousel__item-viewer-button-inverse * {
  fill: #1d0e0b;
  stroke: #fff9f5;
}
.thumbnail-carousel__item-viewer-shortcut-indicator {
  position: relative;
}
.thumbnail-carousel__item-viewer-shortcut-indicator > div:nth-child(1) {
  z-index: 10000;
  padding: 4px 8px;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
.thumbnail-carousel__item-viewer-toolbar {
  z-index: 1000000;
  transition: transform 0.25s ease, opacity 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #1d0e0b;
  /*this color is displayed if browser can't read the below properties*/
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a96e6", endColorstr="#8a96e6", GradientType=1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.thumbnail-carousel__item-viewer-toolbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75vw;
}
.thumbnail-carousel__item-viewer-toolbar-container > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75vw;
}
.thumbnail-carousel__item-viewer-toolbar-preview {
  position: absolute;
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
  color: #fff9f5;
  overflow: hidden;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container {
  height: calc(100% - 0px);
  position: relative;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container img {
  position: relative;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container .thumbnail-carousel__loading-container {
  row-gap: 0;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-description {
  padding: 10px;
  text-align: center;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-description > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (hover: none) {
  .thumbnail-carousel__item-viewer-toolbar-preview {
    display: none;
  }
}
.thumbnail-carousel__item-viewer-toolbar-progress {
  appearance: none;
  border: none;
  z-index: 100;
}
.thumbnail-carousel__item-viewer-toolbar-progress:not(.grabbing):hover {
  cursor: pointer;
}
.thumbnail-carousel__item-viewer-toolbar-text {
  justify-content: flex-start;
  width: 100%;
}
.thumbnail-carousel__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail-carousel__video {
  width: 100vw;
  object-fit: contain;
  max-height: 100vh;
}
.thumbnail-carousel__video-screenshot-viewer > div > div {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumbnail-carousel__modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail-carousel__modal p {
  padding-right: 20px;
}
.thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button {
  position: absolute;
  bottom: auto;
  left: auto;
  right: var(--thumbnail-carousel-modal-custom-button-right);
  top: var(--thumbnail-carousel-modal-custom-button-top);
}
.thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button--close-left, .thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button--close-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 0) rotate(var(--rotation));
}
.thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button--close-left-inverse, .thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button--close-right-inverse {
  background-color: #1d0e0b;
  margin-top: 0;
}
.thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button--close-left {
  --rotation: -45deg;
}
.thumbnail-carousel__modal-custom .thumbnail-carousel__item-viewer-button--close-right {
  --rotation: 45deg;
}
.thumbnail-carousel__modal::-webkit-scrollbar {
  background-color: var(--thumbnail-carousel-modal-scrollbar-background-color);
}
.thumbnail-carousel__modal::-webkit-scrollbar-track {
  background-color: var(--thumbnail-carousel-modal-scrollbar-background-color);
}
.thumbnail-carousel__modal::-webkit-scrollbar-thumb {
  background-color: var(--thumbnail-carousel-modal-scrollbar-foreground-color);
}
.thumbnail-carousel__modal-minimized {
  opacity: var(--thumbnail-carousel-modal-opacity-minimized) !important;
}
.thumbnail-carousel__modal-minimized:hover {
  opacity: 1 !important;
  cursor: pointer !important;
}
.thumbnail-carousel--d-none {
  display: none;
}
body.grabbing {
  cursor: grabbing !important;
}

/*# sourceMappingURL=style.css.map */
